.navigation-manual button{
  padding: 1.8%;
}





@media screen and (max-width: 1100px){
  	.sliderP{
      width: 100%;
      height:100%;
      /* padding-right: 5%;
      padding-left:5%; */
    }

}
@media screen and (max-width: 819px){
  .navigation-auto{
    display:block;
  }
  .navigation-manual{
    display:block;
    width:80%;

  }
  .scroll-title{
    display:block;
  }
}
@media screen and (max-width: 700px){
  .navigation-manual button{
    font-size: 12px;
  }
  .manual-btn:not(:last-child){
    margin-right: 5px;
  }
}
